<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapVoult | Add Photo</title>

    {# Bootstrap CSS  #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
        crossorigin="anonymous">
    
    <style>
        html::-webkit-scrollbar{
          width: 0.5rem;
        }
        html::-webkit-scrollbar-thumb{
          background: black;
          border-radius: 5rem;
        }
      </style>

</head>
<body class="m-5">

    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-md-4">
                <a class="btn btn-dark my-3" href="{% url 'gallery' %}">Go Back</a>

                <div class="card">
                    <form method="POST" action="" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="form-group m-3">
                            <label class="my-2">Description</label>
                            <input required type="text" name="description" placeholder="Enter a description" 
                                class="form-control" >

                        </div>

                        <div class="form-group m-3">
                            <label class="my-2">Category</label>
                            
                            <select name="category" class="form-control" >
                                <option value="none">---Select a category---</option>

                                {% for category in categories %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}

                            </select>
                        </div>

                        <div class="form-group m-3">
                            <label class="my-2">New category</label>
                            <input type="text" name="category_new" placeholder="Create a new category" 
                            class="form-control" >

                        </div>

                        <div class="form-group m-3">
                            <label class="my-2">Upload image</label>
                            <input required type="file" name="image" class="form-control-file" >
                        </div>

                        <button class="btn btn-dark m-3" type="submit">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
    
</body>
</html>