<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapVoult | Your Photos Gallery</title>

    {# Bootstrap CSS  #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
        crossorigin="anonymous">

</head>
<body class="m-5">
    
    <div class="container">
        
        <div class="row">
            
            {# Section containing categories and menues #}
            <div class="col-md-3">
                <div class="card" >
                    <div class="card-header fs-5 fst-italic fw-bolder">
                      Categories
                    </div>
                    
                    <ul class="list-group list-group-flush" >
                      
                      <li class="list-group-item">
                        <a style="text-decoration:none; color: black;" href="{% url 'gallery' %}">All</a>
                      </li>
                      
                      {% for category in categories %}
                        <a href="{% url 'gallery' %}?category={{category.name}}" 
                            style="text-decoration:none; color: black;">
                            
                            <li class="list-group-item">{{category.name | title}}</li>
                        </a>
                      {% endfor %}
                      
                        <a href="{% url 'addPhoto' %}" 
                        class="btn btn-dark btn-block btn-sm m-1 fs-5">Add Photo</a>

                    </ul>

                  </div>
            </div>

            {# Section containing photos #}
            <div class="col-md-9">

                <div class="row">
                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img src="{{photo.image.url}}" 
                                class="card-img-top" alt="..." style="object-fit: cover; height: 15rem">
                            
                            <div class="card-body">
                              <small class="card-text fw-bolder">Category : {{photo.category.name | title}}</small>
                            </div>

                            <a class="btn btn-outline-dark btn-sm m-1"
                                href="{% url 'viewPhoto' photo.id %}">View</a>
                          </div>
                    </div>
                    {% empty %}
                    <h3>No photos...</h3>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

</body>
</html>